{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_calendar %}
{% block title %}Calendario Vistas{% endblock title %}
{% block custom-css %}
  {% bootstrap_calendar_css %}
{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-12">
    <div class="pull-right margin-top">
      {% if perms.meetings.add_assignofficial %}
      <a class="btn btn-default" href="{% url 'assign_official' %}"><i class="fa fa-user-plus main-navigation-icon"></i>Asignar Oficial</a>
      {% endif %}
      <a class="btn btn-default" href="{% url "meeting_calendar" %}">Ver Mis Vistas</a>
      <a class="btn btn-grey" href="{% url "meeting_calendar" %}?view=all">Ver Todas las Vistas</a>
    </div>
    <h3>Calendario Vistas</h3>
    <hr>
    <div class="page-header">
      {% bootstrap_controls 'from-inline pull-right' %}
      <h3></h3>
    </div>
    <div class="clear-fix">
    </div>
    <div class="legend--wrapper pull-right">
      <ul class="legend">
        <li>
          <div class="square legend-scheduled"></div>
          <div class="text">Coordinado</div>
        </li>
        <li>
          <div class="square legend-passed"></div>
          <div class="text">Ocurrido</div>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {% bootstrap_calendar '' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
    {% bootstrap_calendar_js language='es-ES' %}
    {% bootstrap_calendar_init language='es-ES' events_url=events_url %}
{% endblock customjs %}
