.cases-main-actions
    margin-bottom 40px

.case-transition-form
    margin 0
    display inline-block

.case-transition-button
    margin-bottom 10px

.case-disabled-transition-requirements
    display none

// CaseEvent
.event-row
    overflow: hidden
    margin-bottom 10px

.importedevent
    .event-content-block
        background-color #f8f9bc
        border-color #ffc600

        .event-header-row
            border-color #ffc600

.transicion-de-status
    .event-content-block
        background-color #e0faff
        border-color #98eeff

    .event-header-row
        border-color #98eeff

.case-created-event
    .event-content-block
        background-color #e3ffe0
        border-color #98ff87

    .event-header-row
        border-color #98ff87

.event-content-block
    padding 20px
    background-color #fdfdfd
    border-radius 5px
    border 1px solid #ebebeb

.event-type
    font-weight bold
    font-size 18px

.event-type-name
    font-size 12px
    color #999999

.event-time,
.event-observed
    color #666666

.event-header-row
    border-bottom 1px solid #e6e6e6

.event-header-row,
.event-body-row,
.event-footer-row
    overflow: hidden
    padding: 20px 12px 14px 12px

.event-files-list
    list-style none
    padding 0
    margin 0

.event-terms-row,
.event-files-row
    margin-bottom 20px

.event-terms-row
    overflow hidden
    padding 5px 0
    background-color #e6e6e6
    border-bottom 1px solid #d4d4d4
    border-top 1px solid #d4d4d4

.event-terms-row-expired
    background-color #e68386
    border-bottom 1px solid #e62f33
    border-top 1px solid #e62f33

.event-label,
.event-observed,
.event-terms-date
    text-align right

.case-event-observed-form
    margin 0

.case-event-observed-notes
    color black
    margin-left 5px
    display inline-block

.case-event-observed-notes-content
    display none

// Specific case
.case-header-button
    padding-top: 18px

.case-print-action
    overflow: hidden
    padding: 0 15px 15px 15px

.tab-pane
    padding-top: 15px
