.document-placeholder
    background-color #e8e8e8
    border 1px dashed #7f7f7f
    padding 20px
    margin 20px 0
    text-align center

.wysihtml5,
.wysihtml5-sandbox
    width 100%
    height 300px
