.text-area
  resize: vertical

.center-img
  display: block
  margin: 0 auto

.small-img
  height: 100px
  width: 100px

.inline-block
  display: inline-block

.no-padding
  padding: 0 !important;

.margin-top
  margin-top: 20px

.btn-grey
  color: white
  background-color: #555
  border: 1px solid #333

.btn-grey:hover, .btn-grey:focus
  color: white !important
  background-color: #333

.btn.active
  background-color: rgba(85, 85, 85, 0.85) !important

@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs.wider {
    width: 45em;
  }
}
@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs.wider {
    width: 45em;
  }
}
@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs.wider {
    width: 45em;
  }
}
