.legend--wrapper
  padding-bottom: 10px
  width: 100%

.legend
  list-style-type: none
  margin-bottom: 0
  padding-left: 0

.legend li
  display: inline-block

.text
  display: inline

.square
  height:12px
  width: 12px
  display: inline-block

.legend-scheduled
  border: 1px solid #1e90ff
  background-color: #bce8f1

.legend-passed
  border: 1px solid darkgreen
  background-color: #e8fde7

.legend-canceled
  border: 1px solid #ad2121
  background-color: #ebccd1
